[submodule "Modules/JSONUtils"]
	path = Modules/JSONUtils
	url = https://github.com/nnra6864/JSONUtils
[submodule "Modules/TextUtils"]
	path = Modules/TextUtils
	url = https://github.com/nnra6864/TextUtils
[submodule "Modules/NnUtilsFiles"]
	path = Modules/NnUtilsFiles
	url = https://github.com/nnra6864/NnUtilsFiles
[submodule "Modules/SystemAudioMonitor"]
	path = Modules/SystemAudioMonitor
	url = https://github.com/nnra6864/SystemAudioMonitor
[submodule "Modules/Tabs"]
	path = Modules/Tabs
	url = https://github.com/nnra6864/Tabs
[submodule "Modules/ChannelPacker"]
	path = Modules/ChannelPacker
	url = https://github.com/nnra6864/ChannelPacker
[submodule "Modules/TextureRemapper"]
	path = Modules/TextureRemapper
	url = https://github.com/nnra6864/TextureRemapper
